<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1>About me</h1>
        <hr>
        <h3>Education</h3>
        <div class="accordion shadow-sm" id="educationAccordion">
          <div class="accordion-item">
            <h5 class="accordion-header" id="educationAccordingHeadingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EducationCollapseOne" aria-expanded="false" aria-controls="EducationCollapseOne">
                Certification, Web Development
              </button>
            </h5>
            <div id="EducationCollapseOne" class="accordion-collapse collapse" aria-labelledby="educationAccordingHeadingOne" data-bs-parent="#educationAccordion">
              <div class="accordion-body">
                <p>In the spring of 2023, I received certification of completion for an intensive, 9-week <span class="text-danger">full-stack web development bootcamp at the Le Wagon Tokyo campus </span> in which I learned advanced backend logic through Ruby and SQL, design essentials in front-end HTML, CSS, and JavaScript, version control tools such as Git and GitHub, and project management resources such as Heroku and Trello.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="EducationHeadingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EducationCollapseTwo" aria-expanded="false" aria-controls="EducationCollapseTwo">
                M.A., English
              </button>
            </h5>
            <div id="EducationCollapseTwo" class="accordion-collapse collapse" aria-labelledby="EducationHeadingTwo" data-bs-parent="#educationAccordion">
              <div class="accordion-body">
                <p>In 2012, I earned a <span class="text-danger">Master of Arts degree in English</span>. My program involved intensive training in research methodology and data analysis, advanced linguistics and grammar, and materials development and design. I was also project manager and development lead for the creation of an initiative to involve Japanese study abroad students in local civic activities.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="EducationHeadingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EducationCollapseThree" aria-expanded="false" aria-controls="EducationCollapseThree">
                B.A., English
              </button>
            </h5>
            <div id="EducationCollapseThree" class="accordion-collapse collapse" aria-labelledby="EducationHeadingThree" data-bs-parent="#educationAccordion">
              <div class="accordion-body">
                <p>In 2009, I earned a <span class="text-danger">Bachelor of Arts degree in English</span> with an emphasis on English linguistics. I wrote numerous papers and created several projects in which I employed research methods and pattern analysis, proofread and corrected errors, and collaborated with partners and teams. </p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h3>Work history</h3>
        <h5>English Lecturer | Kanda University of International Studies | 2017-2023</h3>
        <div class="accordion shadow-sm" id="workHistoryAccordion">
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseOne" aria-expanded="false" aria-controls="WorkHistoryCollapseOne">
                Curriculum development
              </button>
            </h5>
            <div id="WorkHistoryCollapseOne" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingOne" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I created, organized, structured, & revised materials and documentation for reading / writing & media analysis classes; therewith, I developed & utilized skills essential for crafting well-structured websites and apps: file organization, proofreading, revision, cloud storage, distribution, and tracking changes.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseTwo" aria-expanded="false" aria-controls="WorkHistoryCollapseTwo">
                Leadership & collaboration
              </button>
            </h5>
            <div id="WorkHistoryCollapseTwo" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingTwo" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I taught, led, & advised diverse groups of students & partnered with peers on project development, demonstrating leadership, interpersonal tact, and cooperation.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseThree" aria-expanded="false" aria-controls="WorkHistoryCollapseThree">
                Project management
              </button>
            </h5>
            <div id="WorkHistoryCollapseThree" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingThree" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I served as program coordinator for department reading and writing courses - gathered participant feedback, conducted needs analysis, proposed course changes, compartmentalized tasks and assigned roles to group members - resulting in new course focus on technology literacy and development of web-based content.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseFour" aria-expanded="false" aria-controls="WorkHistoryCollapseFour">
                Research & analysis
              </button>
            </h5>
            <div id="WorkHistoryCollapseFour" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingFour" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I conducted mixed methods research on classroom pedagogy, specifically computer-assised language learning. As a result, I published numerous articles in which I demonstrated strong research and analytical skills--important for data analysis, user research, and data-driven app development.
              </div>
            </div>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
