<div id="about" class="p-5">
  <h2>About me</h2>
  <hr>
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h3>Education</h3>
      <p>In the spring of 2023, I received certification of completion for an intensive, 9-week <span class="text-danger">full-stack web development bootcamp at the Le Wagon Tokyo campus </span> in which I learned advanced backend logic through Ruby and SQL, design essentials in front-end HTML, CSS, and JavaScript, version control tools such as Git and GitHub, and project management resources such as Heroku and Trello.</p>
      <p>In 2012, I earned a <span class="text-danger">Master of Arts degree in English</span>. My program involved intensive training in research methodology and data analysis, advanced linguistics and grammar, and materials development and design. I was also project manager and development lead for the creation of an initiative to involve Japanese study abroad students in local civic activities.</p>
      <p>In 2009, I earned a <span class="text-danger">Bachelor of Arts degree in English</span> with an emphasis on English linguistics. I wrote numerous papers and created several projects in which I employed research methods and pattern analysis, proofread and corrected errors, and collaborated with partners and teams. </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <h3>Work history</h3>
      <h4>English Lecturer</h4>
      <h5>| Kanda University of International Studies</h5>
      <h5>| 2017-2023</h5>
      <ul>
        <li><span class="text-danger">Curriculum development</span> - created, organized, structured, & revised materials and documentation for reading / writing & media analysis classes - developed & utilized skills essential for crafting well-structured websites and apps e.g. file organization, proofreading, revision, cloud storage, distribution, and tracking changes</li>
        <li><span class="text-danger">Leadership & collaboration </span> - taught, led, & advised diverse groups of students & partnered with peers on project development - demonstrated leadership, interpersonal tact, and cooperation </li>
        <li><span class="text-danger">Project management</span> - served as program coordinator for department reading and writing courses - gathered participant feedback, conducted needs analysis, proposed course changes, compartmentalized tasks and assigned roles to group members - resulting in new course focus on technology literacy and development of web-based content</li>
        <li><span class="text-danger">Research & analysis</span> - conducted mixed methods research on classroom pedagogy, specifically computer-assised language learning - publication of numerous articles demonstrates strong research and analytical skills, important for data analysis, user research, and data-driven app development</li>
      </ul>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
