<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1>About me</h1>
        <hr>
        <h3>Education</h3>
        <div class="accordion shadow-sm" id="educationAccordion">
          <div class="accordion-item">
            <h5 class="accordion-header" id="educationAccordingHeadingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EducationCollapseOne" aria-expanded="false" aria-controls="EducationCollapseOne">
                Certification, Web Development
              </button>
            </h5>
            <div id="EducationCollapseOne" class="accordion-collapse collapse" aria-labelledby="educationAccordingHeadingOne" data-bs-parent="#educationAccordion">
              <div class="accordion-body">
                <p>In the spring of 2023, I received certification of completion for an intensive, 9-week <span class="text-danger">full-stack web development bootcamp at the Le Wagon Tokyo campus </span> in which I learned, practiced, and demonstrated essential concepts, langauges, frameworks, and tools. I built numerous solo web projects and collaborated with a team to push to production two web apps using Ruby on Rails, Git and GitHub, PostgreSQL, HTML, CSS, JavaScript, Heroku, Figma, Trello, and more.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="EducationHeadingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EducationCollapseTwo" aria-expanded="false" aria-controls="EducationCollapseTwo">
                M.A., English
              </button>
            </h5>
            <div id="EducationCollapseTwo" class="accordion-collapse collapse" aria-labelledby="EducationHeadingTwo" data-bs-parent="#educationAccordion">
              <div class="accordion-body">
                <p>In 2012, I earned a <span class="text-danger">Master of Arts degree in English</span>. My program involved intensive training in research methodology and data analysis, advanced linguistics and grammar, and materials development and design. I was also project manager and development lead for the creation of an initiative to involve Japanese study abroad students in local civic activities.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="EducationHeadingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EducationCollapseThree" aria-expanded="false" aria-controls="EducationCollapseThree">
                B.A., English
              </button>
            </h5>
            <div id="EducationCollapseThree" class="accordion-collapse collapse" aria-labelledby="EducationHeadingThree" data-bs-parent="#educationAccordion">
              <div class="accordion-body">
                <p>In 2009, I earned a <span class="text-danger">Bachelor of Arts degree in English</span> with an emphasis on English linguistics. I wrote numerous papers and created several projects in which I employed research methods and pattern analysis, proofread and corrected errors, and collaborated with partners and teams. </p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h3>Work history</h3>
        <h5>English Lecturer | Kanda University of International Studies | 2017-2023</h3>
        <div class="accordion shadow-sm" id="workHistoryAccordion">
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseOne" aria-expanded="false" aria-controls="WorkHistoryCollapseOne">
                IT training and support
              </button>
            </h5>
            <div id="WorkHistoryCollapseOne" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingOne" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                For five years, I served on the institute's technology committee. I provided Zoom, Google Drive, and Google Classroom training sessions for 80+ university faculty in order to meet the emergent needs of online teaching during the 2020 COVID pandemic.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseTwo" aria-expanded="false" aria-controls="WorkHistoryCollapseTwo">
                Computer-Assisted Language Learning resarch & app development
              </button>
            </h5>
            <div id="WorkHistoryCollapseTwo" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingTwo" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I collaborated with peers and managed student groups to conduct mixed-methods research about learner engagmenet; I analyzed resulting data, co-published the results, and assisted in the development of an engagement tracking app.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseThree" aria-expanded="false" aria-controls="WorkHistoryCollapseThree">
                Project management
              </button>
            </h5>
            <div id="WorkHistoryCollapseThree" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingThree" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I served as program coordinator for department reading and writing courses - gathered participant feedback, conducted needs analysis, proposed course changes, compartmentalized tasks and assigned roles to group members - resulting in new course focus on technology literacy and development of web-based content.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="WorkHistoryHeadingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#WorkHistoryCollapseFour" aria-expanded="false" aria-controls="WorkHistoryCollapseFour">
                Materials development
              </button>
            </h5>
            <div id="WorkHistoryCollapseFour" class="accordion-collapse collapse" aria-labelledby="WorkHistoryHeadingFour" data-bs-parent="#workHistoryAccordion">
              <div class="accordion-body">
                I created, organized, structured, & revised curriculum and documentation for reading / writing & media analysis classes; therewith, I developed & utilized skills essential for crafting well-structured websites and apps: file organization, proofreading, revision, cloud storage, distribution, and tracking changes.
              </div>
            </div>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
