<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> Projects</h2>
        <h4>This section is currently under construction.</h4>
        <div class="container">
          <div class="row">
            <% data.projects.each do |project| %>
              <div class="col-12 card p-1">
                <h4><%= project.name %></h4>
                <% link_to project.url, class: 'external-link', target: '_blank' do %>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
                <p><%= project.description %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
