<div class="container">
  <div class="row">
    <%= partial 'partials/banner' %>
  </div>
  <div class="row">
    <%= partial 'partials/projects' %>
  </div>
  <div class="row">
    <%= partial 'partials/skills' %>
  </div>
</div>
<div>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
